.apply-labkings-tooltips .wpb_single_image + .wpb_text_column table tr a,
.apply-labkings-tooltips .wpb_text_column table tr a {
    position: relative;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.apply-labkings-tooltips .wpb_single_image + .wpb_text_column table tr .tooltip,
.apply-labkings-tooltips .wpb_text_column table tr .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    background: black;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    white-space: nowrap;
}

.apply-labkings-tooltips .wpb_single_image + .wpb_text_column table tr .tooltip bdi,
.apply-labkings-tooltips .wpb_text_column table tr .tooltip bdi {
    color: white !important;
}

.apply-labkings-tooltips .wpb_single_image + .wpb_text_column table tr .tooltip::before,
.apply-labkings-tooltips .wpb_text_column table tr .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: black;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.apply-labkings-tooltips .wpb_single_image + .wpb_text_column table tr a:hover .tooltip,
.apply-labkings-tooltips .wpb_text_column table tr a:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

